.App {
  font-size: 1.1em;
  margin-left: 1.8em;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: none;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #61dafb;
}

.List li {
  border: 3px solid #000;
  margin: 0.4em 0;
  max-width: 600px;
  padding: 0.5em;
}

.List li input {
  margin: 0.2em 0.5em;
}

.List li input[type="text"] {
  font-size: 0.9em;
  min-width: 208px;
  padding: 0;
  margin: 0;
}

.List li .line-through {
  text-decoration: line-through;
}

.List li .no-decoration {
  text-decoration: none;
}

.List form label {
  display: inline-block;
  margin: 0 0 0.3em;
}

.List form label span {
  margin-right: 0.2em;
}

.List form label input {
  font-size: 0.7em;
  min-width: 150px;
  padding: 0.2em;
}

.List form button {
  font-size: 0.9em;
}

.List ul {
  margin-top: 1.5em;
}

.react-date-picker__clear-button {
  display: none;
}

.List form label .react-date-picker__inputGroup input {
  font-size: 0.8em;
  min-width: auto;
  padding: 0 0.2em;
  width: calc(100% + 10px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
