@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-align: center;
}

h2 {
    color:#666;
    font-size: 1.3em;
    font-weight: normal;
}

input {
    font-size: 1.1em;
    padding: 5px;
}

.input {
    margin: 0 auto;
    width: 200px;
}

#start-btn {
    background: #3ECE8E;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
}

section {
    margin: 30px auto;
    width: 70%;
}

section > div {
    border-top: 1px solid #ccc;
    float: left;
    height: 50vh;
    padding-top: 40px;
    text-align: center;
    width: 50%;
}

section div+div {
    border-left: 1px solid #ccc;
}

section div p {
    font-size: 0.8em;
    text-transform: uppercase;
}

canvas {
    width: 100%;
}