@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 2em;
}

h1 {
    font-size: 2.4em;
    font-weight: 600;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    margin: 1em 0 0.3em;
}

p {
    padding:0.9em 0;
    width: 60%;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2.5em;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border: 1px solid #9a9a9a;
}

progress[value]::-webkit-progress-value {
    background-color: #D7D7D7;
}

legend {
    display: none;
}

fieldset {
    border: none;
    padding: 2em;
}

form label {
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5em;
    text-align: right;
    width: 11em;
}

form input {
    background: #fff;
    border: 1px solid #9a9a9a;
    font-size: 1em;
    height: 2.5em;
    padding: 0.7em;
    width: 25%;
}

form p {
    width: 90%;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #9a9a9a;
    border-radius:0px;
    font-size: 1em;
    height: 2.5em;
    line-height: 1.2em;
    padding: 0.6em 0.7em;
    width: 25%;
}

form textarea {
    overflow: auto;
    resize: none;
    width: 65%;
}

form input[type=checkbox],
form input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid #9a9a9a;
    display: inline-block !important;
    font-size: 1em;
    height: 2em;
    padding: 0.8em;
    vertical-align: middle;
    width: 2em;
}

form input[type=checkbox]:checked,
form input[type=radio]:checked  {
    background: #fff;
    outline: 11px solid #ccc;
    outline-offset: -1em;
}

.logo {
    background-color:#D7D7D7;
    border: 1px solid #9a9a9a;
    float: left;
    font-size: 0.7em;
    padding: 2.6em;
    text-align: center;
    width: 8em; 
}

header nav {
    background-color:#D7D7D7;
    border: 1px solid #9a9a9a;
    float: right;
    font-size: 0.7em;
    padding: 2.6em;
    text-align: center;
    width: 30em;
}

main {
    clear: both;
    margin: 0 auto;
    padding: 3em 0;
    width: 100%;
}

.block {
    margin-bottom: 2em;
}

.desc span {
    display: inline-block;
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    padding: 2.4em 1em;
}

.block.style {
    display: flex;
    flex: 1 1 200px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.style .col {
    padding:0 1em 1em 0;
}

.style label {
    width: 9em;
}

.style .placeholder {
    background: #f2f2f2;
    border: 1px solid #9a9a9a;
    height: 12rem;
    margin: 0 0 0.5em;
    width: 12rem;
}

 /* Toggled State */
 input[type=checkbox]:checked ~ .shipping {
    display:none;
 }

 .tabs {
    position: relative;   
    min-height: 1200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label.tab-label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
  }
  [type=radio]:checked ~ label.tab-label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type=radio]:checked ~ label.tab-label ~ .content,
  [type=submit]:active ~ label.tab-label ~ .content {
    z-index: 1;
  }


  @media only screen and (max-width: 1000px) {
    .tabs {
        min-height: 1500px; /* This part sucks */
      }
      form input,
      form select {
         margin-bottom:2em; 
         width: 60%;
      }

      form input[type=checkbox], 
      form input[type=radio] {
          margin-bottom: 0.5em;
      }

      form textarea {
          width: 80%;
      }
      .block {
          margin-bottom: 0;
      }

      label.desc {
        text-align: left;  
        width: 80%;
      }

      .desc span {
        padding: 0.4em 0; 
      }
      }
  