@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(0,53,111);
    background: linear-gradient(147deg, rgba(0,53,111,1) 0%, rgba(3,111,157,1) 65%, rgba(1,189,211,1) 100%);
    color:#666;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

h1, h2 {
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.1em;
    text-transform: uppercase;
}

h2 {
    color: rgba(3,111,157,1);
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

strong, h3, h4 {
    color:#000;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h3, h4 {
    padding-bottom: 5px;
}

a {
    color: rgba(3,111,157,1);
    text-decoration: none;
}

li {
    list-style: none;
}

address {
    font-style: normal;
}

address p {
    line-height: 1.4em;
}

address strong {
    display: inline-block;
    float: left;
    width: 32%;
}

address a {
    display: inline-block;
    float: left;
    width: 68%;
}

.container {
    background: #FBFBFB;
    clear: both;
    float: left;
    margin: 15px;
    padding: 15px;
}

.left {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 30%;
}

.left .border {
    border-right-width: 2px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, rgba(0,53,111,1), rgba(1,189,211,1)) 1 100%;
    padding-right:10px;
}

.right {
    box-sizing: border-box;
    float: right;
    padding: 10px;
    width: 70%;
}

.right div,
.left div {
    margin:30px 0;
}

.about-image {
    text-align: center;
}

.about-image img {
    border-radius: 150px;
    object-fit: scale-down;
    width: 70%;
}

.about-title {
    text-align: center;
}

.education {
    clear: left;
    padding-top: 20px;
}

.experience section {
    margin: 10px 0 20px;
}

.experience .date{
    color:#808080;
    font-size: 0.9em;
    padding-bottom: 5px;
}

.experience li {
    list-style-type: disc;
    list-style-position: inside;
}

.experience li:first-child {
    margin-top:5px;
}

@media only screen and (max-width: 600px) {
    .left {
        width: 100%;
    }
    
    .left .border {
        border: none;
    }
    
    .right {
        float: left;
        width: 100%;
    }
    
  }