@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color:#919191;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1, h2, h3 {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2.3em;
    margin-bottom:0.3rem;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 1.6em;
}

h4 {
    font-size: 1.15em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

h5 {
    font-size: 1em;
}

li {
    list-style: none;
}

header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #efefef;
    color: #969696;
    padding: 2.7em 12.5em 3.5em;
}

header span {
    font-size: 1.1em;
}

.main-nav {
    padding: 1.6em 12.5em;
}

.main-nav ul {
    display: flex;
    font-size: 0.92em;
}

.main-nav li {
    padding-right: 2.7em;
}

.main-nav li a {
    color: #969696;
    text-decoration: none;
} 

.main-nav li:not(.active) a {
    color: #373737;
    font-weight: bold;
}

.banner img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 3em 4em 3em 12.5em;
}

article {
    flex: 2 1 420px;
    line-height: 1.4em;
    margin-left:5.2em;
}

aside {
    flex: 1 1 215px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.logos img {
    margin: 2em 2.5rem 3em 0em;
    width: 110px;
}

.logos ul {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #6735CD;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 3em 0 6em 12em;
}

footer .column {
    flex: 1 1 500px;
    margin-right: 4.2em;
}

footer .column:last-child {
    margin-right: 0;
}

footer .column a {
    color:#f2f2f2;
    text-decoration: none;
}

.column.archive,
.column.nav {
    font-weight: bold;
}

.archive p,
.nav li {
    border-bottom: 1px solid #6F45C5;
    padding: 0.8em 0;
}

.archive p:first-of-type {
    padding: 0 0 0.8em;
}

.nav li > ul > li {
    border-bottom: none;
    border-top: 1px solid #6F45C5;
    padding: 0.8em 0 0;
    margin: 0.8em 0 0 1em;
}

@media only screen and (max-width: 600px) {
    h2, h3 {
        line-height: 1.2em;
        margin-top: 1em;
    }

    header, .main-nav, .container, footer {
        padding: 1.6em 1.6em 1em;
    }

    .main-nav ul {
        flex-direction: column;
    }

    article {
        margin-left:0;
    }
     
    aside {
         flex-basis: 120px;
    }

    main section.container:nth-of-type(3) {
        flex-direction: column-reverse;
    }

    .logos img {
        margin: 2em 1em 3em 0em;
    }

    footer {
        flex-direction: column;
    }

    footer .column:nth-child(2) {
        flex-basis: 200px;
    }

    footer .column:nth-child(3) {
        flex-basis: 300px;
    }

  }